
/********************************************************************
Body 
********************************************************************/

body {
    font-family:'Times New Roman', Times, serif;
    font-size:100%;
 background-color: rgb(132, 133, 132);
 
}

.p1{
    font-size: 26px;

}
.p2{
    text-align: left;
    font-size: 18px;
    margin: 10px
}





 
  /*****************************************************************
  Buttons:
  *****************************************************************/

  .button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover{
    background-color: #4CAF50;
    color: white;
  }

/********************************************************************
Link Hover
*********************************************************************/

a
{
color:black;
}
a:hover
{
  color:rgb(121, 120, 120);
}

/*******************************************************************
Login Page:
*******************************************************************/
.Login {
  
    width: 100%;
    padding: 1px;
    height:100%;
    text-align: right;
    background: url(Login.png);
    color: rgb(165, 219, 85);
    position: absolute;
    top: 50%;
    left: 49.7%;
    transform: translate(-50%,-50%);
    overflow: hidden;


}
.Login h1 {
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    color:  rgb(165, 219, 85);
    font-size: 60px;
  }




/********************************************************************
Table Effects:
*********************************************************************/

table {
  font-family: 'Times New Roman', Times, serif;
  font-size:30px;
  border-collapse: seperate;
  width: 99%;
  margin:10px;
}

td, th {
  border: 1px solid #dddddd;
  color: rgb(27, 27, 27);
  text-align: left;
  padding: 0px;
}





/*********************************************************************
Directory Page:
*********************************************************************/
.Directory {
  
    width: 100%;
    padding: 1px;
    height:100%;
    text-align: center;
    background: url(Directory.png);
    
    position: absolute;
    top: 50%;
    left: 49.7%;
    transform: translate(-50%,-50%);
    overflow: hidden;


}

.Directory h1 {
  margin-top: 100px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(63, 61, 61);
  font-size: 60px;
}

.Directory input {
  display: block;
  width: 50%;
  padding: 0 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "montserrat",sans-serif;
  border-radius: 13px;

}



/******************************************************************
File Management Page
*******************************************************************/
.File{   width: 100%;
    padding: 1px;
    height:100%;
    text-align: center;
    background: url(Directory.png);
    Color : rgb(63, 61, 61);
    position: absolute;
    top: 50%;
    left: 49.7%;
    transform: translate(-50%,-50%);
    overflow: hidden;

}
.File h1 {
  margin-top: 122px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(63, 61, 61);
  font-size: 60px;
}




